<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Kaggle: Titanic machine learning project</title>
		 <link rel="stylesheet" type="text/css" href="./static/main.css">
	</head>
	<body>
	
		<h1 align="center"> Please enter the passenger information: </h1>
		<p align="center"> Probability of survival would be calculated on the inputs </p>
		<form id = "input" align="center" method = "POST" action = "/predict">
			
			<input  type = "text" name = "Age" placeholder="Enter your age"/> <br>
			<input  type = "text" name = "SibSp" placeholder=" Number of siblings onboard"/> <br>
			<input  type = "text" name = "Parch" placeholder="Parents and children onboard"/> <br>
			<input  type = "text" name = "Fare" placeholder="Enter Ticket Fare"/> <br>
			
			<!-- Gender Dropdown -->
			<select class="form-input align-center" name="Gender">
				<option value="none">--- Select your gender ---</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select><br>
			
			<!-- Embarked Dropdown -->
			<select class="form-input align-center" name="Embarked">
				<option value="none">--- Select the place of embarkment ---</option>
				<option value="Queenstown">Queenstown</option>
				<option value="Southampton">Southampton</option>
				<option value="Cherbourg">Cherbourg</option>
			</select><br>
			
			<!-- Passenger Class Dropdown -->
			<select class="form-input align-center" name="Passenger Class">
				<option value="none">--- Select Passenger's class ---</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select><br>
		

			<button class="btn-success">Predict</button>
		</form>
		
		<h1 align="center"> Your Chances of survival are: <i> {{ prediction}} <i> % </h1>
	</body>
</html>